{% extends "blog/base.htm" %} {% load crispy_forms_tags %} {% block content %}
<h1 class="page-title">
    Register
</h1>
<div class="register-form">
    <form method="POST">
        {% csrf_token %}
        <div class="uk-margin">
            {{ form|crispy }}
        </div>
        <button type="submit" class="btn btn-outline-info">Register</button>
    </form><br>
    <div class="border-top pt-3">
        <small class="text-muted">
            Have an Account? <a class="ml-2" href="{% url 'userbase-login' %}">Log In</a>
        </small>
    </div>
</div>
{% endblock content %}